body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  font-family: sans-serif;

  display: grid;
  grid-template-rows: 220px 1fr;
  grid-template-columns: min(300px, 15%) 1fr;
  grid-template-areas:
    'sd hd hd'
    'sd mn mn'
    'sd mn mn';
}

.avatar {
  border-radius: 50%;
}

.username {
  margin: 0;
}

header {
  grid-area: hd;
  background-color: #434c5e;
  display: grid;
  grid-template-rows: 50px 1fr;
  grid-template-columns: 2fr 1fr;
  padding: 20px 40px;
  align-items: center;
  row-gap: 20px;
}

.search form {
  display: flex;
  align-items: center;
}

.search button {
  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.search img {
  width: 30px;
  margin-bottom: -5px;
}

.search input {
  height: 30px;
  border-radius: 15px;
  background-color: #eceff4;
  padding: 0 20px 0 20px;
  border-style: none;
  width: 70%;
}

.search p {
  margin: 0;
}

.user-panel {
  display: flex;
  align-items: center;
  height: auto;
  color: #eceff4;
  justify-self: end;
  align-items: center;
}

.user-panel .username {
  font-size: 20px;
  font-weight: bold;
}

.icon {
  width: 30px;
}

.user-panel .avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  margin-left: 20px;
}

.head {
  display: flex;
  color: #eceff4;
  font-weight: bold;
  gap: 10px;
  align-items: center;
}

.head .avatar {
  width: 100px;
  height: 100px;
}

.username {
  font-size: 25px;
}

.head-buttons {
  align-self: end;
  justify-self: end;
  margin-bottom: 20px;
}

.head-buttons button {
  background-color: #5e81ac;
  border: none;
  font-size: 16px;
  border-radius: 20px;
  color: #eceff4;
  height: 40px;
  width: 90px;
  margin: 0 5px;
}

.head-buttons button:hover {
  background-color: #56779e;
  transition: ease 0.5s;
}

main {
  grid-area: mn;
  background-color: #d8dee9;
  overflow-y: auto;
  color: #2e3440;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 300px;
  gap: 15px;
  padding-left: 15px;
  padding-right: 30px;
}

main p {
  color: #434c5e;
}

.projects-container {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20vw, 1fr));
  gap: 15px;
}

.project-card {
  background-color: #eceff4;
  border-radius: 10px;
  padding: 15px;
  display: grid;
  grid-template-rows: min-content min-content 1fr;
  grid-template-columns: 100px 1fr;
}

.project-card h3 {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  justify-self: center;
}

.preview {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  height: 100%;
}

.preview img {
  width: 100%;
}

.card-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  padding-left: 15px;
}

.card-content p {
  margin-top: 0;
}

.actions {
  grid-column: 1 / 3;
  grid-row: 3;
  justify-self: end;
  display: flex;
  height: 25px;
  gap: 10px;
}

.actions a {
  width: 25px;
}

.project-card .actions {
  align-self: end;
}

.announcements-container {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.trending-container {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.announcements,
.trends {
  background-color: #eceff4;
  padding: 20px;
}

aside {
  grid-area: sd;
  background-color: #81a1c1;
  padding: 15px;
  font-size: 18px;
}

.logo {
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: #eceff4;
}

.logo img {
  width: 40px;
  height: auto;
  margin-right: 10px;
}

menu,
menu ul {
  padding: 0;
  padding-left: 5px;
}

menu {
  margin-bottom: 40px;
}

ul a {
  text-decoration: none;
  color: #eceff4;
}

ul img {
  width: 20px;
  height: auto;
  padding-right: 5px;
  margin-bottom: -3px;
}
